<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">
    
    <uses-feature android:name="android.hardware.fingerprint" android:required="true" />
    
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/App">
        
        <activity
            android:exported="true"
            android:name=".ui.authenticate.AuthenticateActivity">
    
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
        
        <activity
            android:exported="false"
            android:label="@string/add_password"
            android:name="space.w0lf.password.manager.ui.addPassword.AddPasswordActivity" />
    
        <activity
            android:exported="false"
            android:label="@string/passwords"
            android:name="space.w0lf.password.manager.ui.passwords.PasswordsActivity" />
        
        <activity
            android:exported="false"
            android:label="@string/password_1"
            android:name=".ui.showPassword.ShowPasswordActivity" />
        
    </application>

</manifest>
